@import url("https://fonts.googleapis.com/css2?family=Qahiri&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Jura&display=swap");

.layout {
  display: grid;
  position: relative;
}
.navbar {
  position: fixed;
  background-color: rgba(5, 83, 41, 0.4);
  width: 100%;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.466);
  /* backdrop-filter: blur(5px); */
  z-index: 10;
}
.main {
  margin-top: 7vh;
  height: 88vh;
  overflow: scroll;
}
.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: rgba(5, 83, 41, 0.4);

  backdrop-filter: blur(5px);
}
.footercontent {
  justify-content: space-evenly;
  align-items: baseline;
  padding-left: 1rem;
  padding-right: 1rem;
  text-transform: capitalize;
  text-align: center;
  font-size: small;
  row-gap: 0.31rem;
  height: 2rem;
  color: bisque;
  background-color: transparent;
  box-shadow: 0px 4px 8px 0 rgba(0, 0, 0, 0.2);
  position: relative;
}
.footercontent p {
  margin: 0;
  padding-top: 7px;
}
.calcicon {
  position: fixed;
  bottom: 30px;
  right: 10px;
  transition: 1s;
}
.nav {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}
.logo {
  font-family: Qahiri;
  font-size: 3rem;
  text-transform: capitalize;
  font-weight: 900;
  text-align: center;
  grid-column: span 2;
  color: bisque;
  scale: 1.1;
  text-shadow: 4px -1px 3px rgb(28, 1, 1);
}
.navbtn {
  display: grid;
  padding-left: 20%;
  grid-column: span 8;
  justify-content: end;
  text-transform: capitalize;
  transition: 1s;
  column-gap: 0.1rem;
  padding-top: 0.4rem;
  padding-bottom: 0.4rem;
  grid-template-columns: repeat(5, 1fr);
}
.link {
  display: grid;
  justify-content: center;
  color: bisque;
  transition: 1s;
  backdrop-filter: blur(5px);
  font-family: Jura;
  font-size: large;
  box-shadow: 0px 02px 0px 0px rgba(155, 20, 0, 1);
  align-items: center;
}
.link:nth-child(1) {
  border-top-left-radius: 1rem;
}
.link:nth-child(2) {
  border-bottom-right-radius: 1rem;
  border-top-left-radius: 1rem;
}
.link:nth-child(3) {
  border-bottom-left-radius: 1rem;
  border-top-right-radius: 1rem;
}
.link:nth-child(4) {
  border-top-right-radius: 1rem;
}
.link:hover {
  background-color: rgba(22, 233, 57, 0.574);
  box-shadow: 0px 02px 10px 0px rgb(12, 76, 180);
  color: black;
  transition: 1s;
}
@media (max-width: 500px) {
  .navbar {
    height: 8vh;
    background: transparent;
  }
  .footer {
    width: 100%;
    background-color: rgba(5, 83, 41, 0.4);
    height: 4rem;
    backdrop-filter: blur(5px);
    position: static;
  }
  .footercontent {
    font-size: medium;
  }
  .footercontent p {
    margin: 0;
    padding-top: 7px;
  }
  .calcicon {
    position: fixed;
    bottom: 10rem;
    right: 20px;
    transition: 1s;
  }
}
