@import url("https://fonts.googleapis.com/css2?family=Qahiri&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Jura&display=swap");

.layout {
  display: grid;
  position: relative;
  /* background-image: radial-gradient(#ae7fb6 2px, transparent 2px),
    radial-gradient(#474bff 2px, transparent 2px);
  background-size: 32px 32px;
  background-position: 0 0, 16px 16px;
  background-color: #1fd095c0; */
}
.navbar {
  position: fixed;
  background-color: rgba(5, 83, 41, 0.606);
  width: 100%;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.466);
  /* backdrop-filter: blur(5px); */
  z-index: 10;
}
.main {
  margin-top: 10vh;
  height: 88vh;

  position: relative;
  overflow: scroll;
}
.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: rgba(5, 83, 41, 0.4);

  backdrop-filter: blur(5px);
}
.footercontent {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 10px;
  padding-left: 1rem;
  padding-right: 1rem;
  text-transform: capitalize;
  backdrop-filter: blur(15px);
  text-align: center;
  font-size: small;
  row-gap: 0.31rem;
  height: 2rem;
  color: bisque;
  background-color: transparent;
  box-shadow: 0px 4px 8px 0 rgba(0, 0, 0, 0.2);
  position: relative;
}
.footercontent p {
  margin: 0;
  padding-top: 7px;
}
.calcicon {
  position: fixed;
  bottom: 30px;
  right: 10px;
  transition: 1s;
  cursor: pointer;
}
.nav {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}
.logo {
  font-family: Qahiri;
  margin: 6px;
  font-size: 3rem;
  text-transform: capitalize;
  font-weight: 900;
  text-align: center;
  grid-column: span 2;
  color: bisque;
  scale: 1.1;
  text-shadow: 4px -1px 3px rgb(28, 1, 1);
}
.navbtn {
  display: grid;
  padding-left: 20%;
  grid-column: span 7;
  justify-content: end;
  text-transform: capitalize;
  transition: 1s;
  column-gap: 0.1rem;
  cursor: pointer;
  padding-top: 0.4rem;
  padding-bottom: 0.4rem;
  grid-template-columns: repeat(3, 1fr);
}
.link {
  display: grid;
  justify-content: center;
  color: bisque;
  transition: 1s;

  backdrop-filter: blur(5px);
  font-family: Jura;
  font-size: large;
  box-shadow: 0px 02px 0px 0px rgba(155, 20, 0, 1);
  align-items: center;
}
.link:nth-child(1) {
  border-top-left-radius: 1rem;
}
.link:nth-child(3) {
  border-top-right-radius: 1rem;
  /* border-top-left-radius: 1rem; */
}

.link:hover {
  background-color: rgba(22, 233, 57, 0.574);
  box-shadow: 0px 02px 10px 0px rgb(12, 76, 180);
  color: black;
  transition: 1s;
}
.userdiv {
  display: grid;
  width: 100%;

  /* background-color: #fff; */
  grid-column: span 3;
}
.user {
  display: flex;
  gap: 1rem;
  color: rgb(232, 224, 133);
  justify-content: center;

  align-items: center;
}
.display {
  background: #0fec76;
  background: -webkit-linear-gradient(42deg, #474bff 0%, #bc48ff 100%);
  background: linear-gradient(42deg, #27eb6c75 0%, #1bd4da 100%);
  height: 3rem;
  width: 3rem;
  color: aliceblue;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4rem;
  transition: 1s;
  font-size: small;
  color: rgba(243, 243, 243, 0.809);
  box-shadow: 1px 1px 3px 0px rgba(0, 0, 0, 0.5);
  position: relative;
  cursor: pointer;
}
.display:hover {
  transition: 1s;
  background: #0fec76;
  background: -webkit-linear-gradient(42deg, #474bff 0%, #bc48ff 100%);
  background: linear-gradient(42deg, #27eb6c75 0%, #1bd4da 100%);

  box-shadow: 0px 0px 2px 2px rgba(7, 204, 248, 0.5);
  color: rgb(251, 169, 54);
}

.dropmenu {
  /* background-color: #fff; */
  display: flex;
  position: absolute;
  animation: drop 1s forwards;
  right: 10;
  /* translate: 10rem; */
  gap: 3px;
  transition: 1s;
  top: 3.5rem;
}
.droplist {
  background: #0fec76;
  background: -webkit-linear-gradient(42deg, #474bff 0%, #bc48ff 100%);
  background: linear-gradient(42deg, #27eb6c75 0%, #1bd4da 100%);
  height: 3rem;
  width: 3rem;
  /* color: aliceblue; */
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4rem;
  transition: 1s;

  font-size: small;
  backdrop-filter: blur(10px);
  color: rgba(243, 243, 243, 0.809);
  box-shadow: 1px 1px 3px 0px rgba(0, 0, 0, 0.5);

  cursor: pointer;
}
.droplist:nth-child(1) {
  animation: drop1 1s;
  position: absolute;
  top: -55px;
  right: -75px;
}
.droplist:nth-child(2) {
  position: absolute;
  animation: drop1 1s;
  top: -55px;
  left: -75px;
}
@keyframes drop {
  from {
    transform: rotateZ(0deg);
    /* translate: 1rem; */
  }
  to {
    transform: rotateZ(360deg);
  }
}
@keyframes drop1 {
  0% {
    transition: 1s;
    translate: -2rem;
    z-index: -100000;
    scale: 0;

    /* z-index: -10000; */
    /* width: 0px; */
  }
}
.droplist:hover {
  /* transform: scale(1.1); */
  /* border-radius: 2rem; */
  transition: 1s;
  background: #0fec76;
  background: -webkit-linear-gradient(42deg, #474bff 0%, #bc48ff 100%);
  background: linear-gradient(42deg, #27eb6c75 0%, #1bd4da 100%);

  box-shadow: 0px 0px 2px 2px rgba(7, 204, 248, 0.5);
  color: rgb(10, 6, 1);
  scale: 1.2;
  z-index: 1;
  /* scale: 1.1; */
}
@media (max-width: 500px) {
  .main {
    margin-top: 8vh;
    height: 90vh;
  }
  .logo {
    /* margin: 1rem; */
    font-size: larger;
  }
  .navbar {
    height: 8vh;
    background: transparent;
  }
  .footer {
    width: 100%;
    background-color: rgba(5, 83, 41, 0.4);
    /* height: 4rem; */
    backdrop-filter: blur(5px);
    position: static;
    margin-top: 1rem;
  }
  .footercontent {
    font-size: medium;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .footercontent p {
    margin: 0;
    padding-top: 7px;
  }
  .calcicon {
    position: fixed;
    bottom: 10rem;
    right: 20px;
    transition: 1s;
    cursor: pointer;
  }
}
