body {
  margin: 0;
  font-family: cascadia code, -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: lightgreen;
}

code {
  font-family: cascadia code;
}
.ReactModal__Overlay {
  backdrop-filter: blur(0);
  opacity: 1;
  transition: all 500ms ease-in-out;
}

.ReactModal__Overlay--after-open {
  backdrop-filter: blur(3px);
  transition: all 500ms ease-in-out;
  opacity: 1;
}

.ReactModal__Overlay--before-close {
  opacity: 0;
  transition: all 500ms ease-in-out;
  transition: 1s;
}
